@import "compass/css3";
@import "bootstrap/bootstrap";

@font-face {
	src: './fonts/Slabo27px-Regular.ttf';
	font-family: 'Slabo';
}

*{
	font-family: 'Slabo';
}

body{
	@extend .bg-secondary;
}

.alert{
	z-index: 9999 !important;
	position: absolute;
	top: 30px;
	left: 50%;
	@include transform(translateX(-50%));
}

i{
	margin-right: 5px;
}

a:hover{
	text-decoration: none;
}

input[type=checkbox] + label.checkbox{
	width: 20px;
	height: 20px;
	border: 1px lightgray solid;
	cursor: pointer;
	padding: 2px;
	@include border-radius(50%);
}

input[type=checkbox] + label.checkbox:after{
	@include transition(all .5s);
	background-color: #fff;
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	@include border-radius(50%);
}

input[type=checkbox]:checked + label.checkbox:after{
	background-color: dodgerblue;
}

.userbox{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 5px 10px;
	background-color: rgba(0,0,0,0.8);

	.sign{
		a{
			display: inline-block;
			padding: 5px;
			margin-bottom: 5px;
			text-align: center;

			@extend .bg-info;
			@extend .text-white;

			i{
				margin: 0;
			}
		}
	}

	.user{
		@include display-flex;
		@include flex-direction(row);
		@include align-items(center);

		div{
			margin-right: 10px;
			text-align: center;

			p{
				@extend .text-light;
				text-align: center;
				margin: 0;
			}
		}

		.datas{
			@include display-flex;
			@include flex-direction(row);

			a{
				margin-right: 5px;
				white-space: nowrap;
				padding: 5px;
			}
		}

		.avatar{
			img{
				width: 35px;
				@include border-radius(50%);
			}
		}
	}
}

header{
	height: 450px;
	background-image: url("/img/headers/default.jpg");
	background-position: center;
	background-size: cover;
	position: relative;

	@extend .d-flex;
	@include align-items(flex-end);
}

.box{
	@extend .bg-light;
	box-shadow: 0 0 5px gray;
	padding: 15px;
}

nav.navbar{
	box-shadow: 0 0 5px #000;
	padding: 0;
	margin-bottom: 15px;
	@extend .bg-dark;

	.navbar-toggler{
		margin: 15px;
		cursor: pointer;
	}

	ul{
		margin: 0;
		padding: 0;

		li{
			display: inline-block;
			list-style: none;

			&:hover{
				@extend .bg-primary;
			}

			i{
				margin-right: 5px;
			}

			a{
				display: block;
				padding: 15px 20px;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 14px;

				@extend .text-light;
			}
		}
	}
}

.signIn{
	@extend .bg-light;
	box-shadow: 0 0 5px gray;
	padding: 15px;
}

.fullPost{
	@extend .bg-light;
	box-shadow: 0 0 5px gray;
	padding: 15px;
	margin: auto -15px;
}

.latestNews{
	p{
		margin-bottom: 5px;
		border: 1px lightgray solid;

		a{
			@extend .d-flex;
			@extend .bg-light;
			@extend .text-dark;
			@include align-items(center);

			span{
				display: inline-block;
				text-align: center;
				padding: 5px;
			}
			span:nth-child(1){
				width: 30%;
			}
			span:nth-child(2){
				width: 70%;
			}
		}
	}
}

.post{
	margin-bottom: 15px;
	@extend .bg-light;

	.cover{
		background-size: cover;
		background-position: center;
		min-height: 210px;
	}

	.content{
		@include display-flex;
		@include flex-direction(column);
		@include align-items(stretch);

		div{
			margin: auto -15px;
			padding: 5px 15px;
			@include display-flex;
			@include flex(0 1 auto);

			p{
				margin: 0;
			}

			span{
				font-size: 12px;
				margin-left: 15px;
			}
		}

		.header{
			border-bottom: 1px lightgray solid;
			p{
				font-weight: bold;
				font-size: 20px;
			}
		}

		.main{
			@include flex(1 1 auto);
		}

		.footer{
			@include display-flex;
			@include align-items(center);
		}
	}

	.downloads{
		height: 100%;
		padding: 0;
		margin: 0 -15px;
		box-shadow: 0 0 5px #000;

		@extend .d-flex;
		@extend .flex-sm-column;

		a{
			padding: 10px 0;

			@extend .bg-dark;
			@extend .text-light;
			@include display-flex;
			@include align-items(center);
			@include flex(1 1 auto);
			@include flex-direction(column);

			&:hover{
				text-decoration: none;
			}

			span{
				text-align: center;
				text-transform: capitalize;
			}
		}
	}
}

.admin-nav{
	@extend .d-flex;
	@include justify-content(space-between);
	@include flex-wrap(wrap);
	min-height: 300px;

	a{
		margin: 5px;
		font-size: 22px;

		@include display-flex;
		@include flex(0 1 calc(50% - 10px));
		@include align-self(stretch);
		@include justify-content(center);
		@include align-items(center);
		@include transition(all .5s);

		&.add{
			@extend .bg-primary;
			@extend .text-light;
		}

		&.manage{
			@extend .bg-warning;
			@extend .text-dark;
		}

		&:hover{
			text-decoration: none;
			box-shadow: 0 0 3px #000;
		}
	}
}

.sendPost{
	@extend .bg-light;
	box-shadow: 0 0 5px gray;
	padding: 15px;
}

.postmanage{
	.controlpanel{
		@extend .bg-light;
		padding: 15px;
		margin: auto -15px;
		margin-bottom: 15px;
	}

	.postlist{
		@extend .d-flex;
		@extend .bg-light;
		@extend .row;

		@include flex-direction(column);

		padding: 15px;
		margin-bottom: 15px;

		.post{
			@extend .d-flex;

			border-bottom: 1px lightgrey solid;
			padding: 15px 0;

			&:last-child{
				margin-bottom: 0;
			}

			p{
				margin-bottom: 0;
				text-align: center;
			}

			div{
				@extend .d-flex;
				@include align-items(center);
				@include justify-content(center);
			}
		}
	}
}

.project{
	position: relative;
	margin-bottom: 15px;

	.datas{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0,0,0,0.7);
		opacity: 0;
		padding: 5px;

		@include transition(all .5s);
		@include display-flex;
		@include justify-content(center);
		@include flex-direction(column);
		@include align-items(center);

		.title{
			color: #fff;
			text-align: center;
			font-size: 18px;
		}

		.genres{
			text-align: center;
			padding: 15px;

			.genre{
				color: #fff;
				@extend .bg-primary;
				padding: 3px;
			}
		}

		p{
			color: #fff;
			margin: 0;
		}
	}

	&:hover .datas{
		opacity: 1;
	}
}

.fullProject{
	img{
		margin-bottom: 15px;
	}

	p, a{
		font-size: 12px;
	}

	.titles{
		span{
			white-space: nowrap;
		}
	}

	.dates{
		span{
			margin-right: 5px;
			white-space: nowrap;
		}
	}
}

.projectFiltration{
	margin-bottom: 15px;

	.genres{
		@extend .d-flex;
		@include justify-content(space-between);
		@include flex-wrap(wrap);
	}
}

.animeGenre{
	display: none;

	& + label{
		@extend .bg-info;
		padding: 5px;
		margin: 2px;
		cursor: pointer;
		@extend .text-light;
		@include transition(all .5s);

		&:hover{
			@extend .bg-primary;
		}
	}

	&:checked + label{
		@extend .bg-warning;
		@extend .text-dark;
	}
}

aside{
	section{
		padding: 15px;
		margin-bottom: 15px;

		@extend .bg-light;
	}
}

footer{
	padding: 15px;
	margin-top: 15px;

	@extend .bg-dark;
}