<div class="box">
    <h5 class="text-muted"><i class="fa fa-eye fa-fw"></i>Követő<hr></h5>
    <p class="text-dark"><i class="fa fa-info-circle fa-fw"></i>Itt tudjátok majd elmenteni animénként, hogy pontosan melyik részt néztétek meg utoljára és megjelölni a kedvenc epizódjaitokat. Hamarosan...</p>
</div>