<div class="box">
    <h5 class="text-muted"><i class="fa fa-user-plus fa-fw"></i>Tagfelvétel<hr></h5>
    <p class="text-dark">
        <i class="fa fa-info-circle fa-fw"></i>
        Itt lesznek meg hírdetve az aktuális nyitott munkatársi pozicíóink Hamarosan...
    </p>
</div>